$bagckground-color: rgb(255, 255, 255);
$bagckground-footer-color: rgb(199, 189, 189);
$white-text: rgb(248, 247, 247);
$black: black;
$gray: rgb(99, 97, 97);
$green-button: rgba(20, 204, 20, 0.699);
$white-button: rgba(249, 255, 249, 0.699);

 