@import './reset';
@import './colors';
@import './mixins';

body {
	font-family: 'Roboto', serif;
	background-color: rgb(255, 255, 255);
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

// MOBILE NAV

.nav-mobile {
	position: sticky;
	display: flex;
	align-items: center;
	top: 0;
	height: 10vh;
	background-color: rgb(243, 243, 242);

	a {
		font-size: 2.2em;
		padding: 0.8em;
		margin-left: 20px;
		color: rgb(67, 66, 66);
	}
}

.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	transform: translateX(100%);
	transition: 0.5s cubic-bezier(0.06, 0.05, 0.36, 1);
	background-color: rgb(214, 211, 211);
	z-index: 100;
	&--active {
		transform: translateX(0);
	}

	&__item {
		position: relative;
		display: block;
		color: $black;
		margin: 0.5em 0;
		padding: 0.5em 2em;
		font-size: 1.8rem;
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 3px;
			height: 100%;
			transform: scaleY(0);
			background-color: white;
			transition: transform 0.3s;
			content: '';
		}

		&:hover::before {
			transform: scaleY(1);
		}
	}
}

.burger-btn {
	position: fixed;
	top: 0px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 99999;

	&:focus {
		outline: none;
		border: 1px solid black;
		border-radius: 8px;
	}

	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		@include burgerBtn;
	}

	&__bars {
		width: 100%;
		&::after {
			top: 13px;
			width: 60%;
		}
		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}

@keyframes navItemAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0);
	}
}

.nav-items-animation {
	animation: navItemAnimation 1s both;
}

.nav-desktop {
	position: sticky;
	display: none;
	top: 0;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(243, 243, 242);

	&__logo {
		a {
			font-size: 2.5em;
			color: rgb(67, 66, 66);
		}
	}

	&__items {
		display: flex;
		a {
			font-size: 1.5em;
			color: black;
			padding: 1em;
			&:hover {
				color: white;
				background-color: $black;
				transition: 0.3s;
			}
		}
	}
}

//*********  HEADER *********

#header {
	position: relative;
	min-height: 35vh;
	background: rgba(0, 0, 0, 0.65) url(../img/forest_Small.jpg);
	background-blend-mode: darken;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -2;

	.header {
		&__text {
			position: absolute;
			margin-left: 20px;
			top: 50%;
			transform: translateY(-50%);
			color: white;
			font-size: 1.2em;

			p {
				font-weight: 100;
			}
			h1 {
				font-weight: normal;
			}
		}
	}
}

// ********* ABOUT SECTION *********
.about {
	h2 {
		display: flex;
		justify-content: center;
		font-size: 2em;
		text-transform: uppercase;
		color: $black;
		font-weight: 300;
		padding: 20px;
	}
	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		img {
			background-size: cover;
			background-position: center;
			// width: 60;
			height: 30vh;
			border-radius: 8px;
			box-shadow: 10px 10px 5px gray;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		width: 100%;

		p {
			margin-top: 20px;
			margin-left: 20px;
			font-size: 1.1em;

			&:nth-of-type(1) {
				font-weight: bold;
				font-size: 1.2em;
			}
		}
	}
}

// ADVENTURE BREAK //

.adventure {
	position: relative;
	min-height: 25vh;
	background-image: url(../img/girl_Small.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -2;
	width: 100%;
	margin-top: 20px;

	&__shadow {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.5);
		width: 100%;
		height: 100%;
	}

	&__text {
		position: absolute;
		color: white;
		font-size: 1.2em;
		padding: 1.5em;
		border: 1px groove white;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-weight: 500;
	}
}

// OFFERS

.offers {
	width: 100%;
	&__header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h2 {
			font-size: 2em;
			text-transform: uppercase;
			font-weight: 300;
			padding: 15px;
		}

		p {
			margin-bottom: 20px;
		}
	}

	.cards-container {
		display: flex;
		// flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;

		&__card {
			box-shadow: 0 0 5px 5px rgb(216, 216, 216);
			border-radius: 30px;
			margin: 20px;
			padding: 2em 6em;
		}
		&__tittle {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 5px;

			h2 {
				font-size: 1.6em;
				font-weight: 300;
				margin-bottom: 10px;
			}
			p {
				font-weight: 600;
				font-size: 1.8em;
				margin-bottom: 10px;
			}
		}
		ul {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			list-style-type: none;
			line-height: 2.5em;
			font-size: 0.7em;

			.fa-check {
				margin-right: 5px;
				color: green;
			}
			.fa-minus {
				margin-right: 5px;
			}
			.none-option {
				color: gray;
			}

			button {
				font-size: 1em;
				font-weight: 500;
				margin-top: 20px;
				padding: 1em 2em;
				border-radius: 10px;
				color: black;
				box-shadow: 0 0 3px 3px rgb(160, 237, 127);

				&:hover {
					background-color: rgb(211, 210, 210);
					box-shadow: 0 0 3px 3px rgb(132, 132, 132);
					transition: 0.3s;
				}
			}

			.standardBtn {
				color: black;
				font-weight: 500;
				&:hover {
					background-color: rgb(103, 191, 81);
					box-shadow: 0 0 3px 3px rgb(55, 255, 0);
					transition: 0.3s;
				}
			}
		}
		.standard-card {
			box-shadow: 0 0 5px 5px rgb(91, 207, 37);
		}
	}
}

// DETAILS OFFERS

.details-offers {
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/forest2_big.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	color: white;
	&__header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h2 {
			font-size: 2em;
			text-transform: uppercase;
			font-weight: 300;
			padding: 15px;
			color: white;
		}

		p {
			margin-bottom: 20px;
		}
	}

	.details-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;

		&__card {
			box-shadow: 0 0 5px 5px rgb(216, 216, 216);
			border-radius: 30px;
			margin: 20px;
			padding: 2em 6em;
		}
		&__tittle {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 5px;

			h2 {
				font-size: 1.6em;
				font-weight: 300;
				margin-bottom: 10px;
			}
			p {
				font-weight: 600;
				font-size: 1.8em;
				margin-bottom: 10px;
			}
		}
		ul {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			list-style-type: none;
			line-height: 2.5em;
			font-size: 0.7em;

			.fa-check {
				margin-right: 5px;
				color: green;
			}
			.fa-minus {
				margin-right: 5px;
			}
			.none-option {
				color: gray;
			}
		}
		.standard-card {
			box-shadow: 0 0 5px 5px rgb(91, 207, 37);
		}
	}
}

// ALL OFFERS ///

.another-offers {
	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 20px;
		font-size: 0.8em;
	}
	&__link {
		display: inline-block;
		color: green;
		text-decoration: none;
		&:hover {
			color: rgb(3, 87, 3);
		}
	}
}

// FOTTER ///

.info {
	background-color: rgb(240, 237, 237);
	width: 100%;
	&__container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 30px;

		.fa-tree {
			font-size: 2em;
			color: black;
		}

		h4 {
			margin-bottom: 5px;
		}

		a {
			display: block;
			color: rgb(74, 73, 73);
			line-height: 1.4em;
			&:hover {
				color: black;
			}
		}
	}
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	font-weight: bold;
	border-top: 1px solid black;
	background-color: rgb(240, 237, 237);
}

.contact {
	position: relative;
	z-index: -10;
	width: 100vw;
	margin: 0 auto;
	max-width: 1200px;
	height: 30vh;
	background: rgba(0, 0, 0, 0.65) url(../img/forest2_small.jpg);
	background-blend-mode: darken;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&__header {
		position: absolute;
		border-left: 2px solid orangered;
		padding: 10px 15px;
		background-color: rgba(79, 75, 75, 0.5);
		margin-left: 40px;
		top: 50%;
		width: 80%;
		height: 80%;
		border-radius: 10px;
		transform: translateY(-50%);
		color: white;
	}
	.contact-card {
		display: flex;
		flex-direction: column;
		height: 100%;
		h2 {
			margin-top: 15px;
			font-weight: 500;
			font-size: 1.8em;
		}
		&__box {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			height: 100%;
			p {
				margin-top: 10px;
				font-weight: 300;
				font-size: 1.1em;
			}
		}
	}
}

.contact-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		margin: 15px;
		color: black;
		font-weight: 400;
	}
	&__form-box {
		input {
			display: block;
			height: 40px;
			width: 100%;
			border-radius: 5px;
			margin: 10px;
			color: rgb(77, 75, 75);
			font-weight: 300;
			font-size: .9em;
			background-color: rgba(199, 199, 197, 0.5);
			padding: 10px 20px;
			text-transform: uppercase;
			border: none;
			&:focus{
				outline: gray solid;
			}
		}
		#input-message{
			text-transform: none;
			height: 100px;
		}
	}
	&__btn{
		width: 120px;
		height: 50px;
		border-radius: 5px;
		background-color: rgb(228, 99, 52);
		font-size: 1.1em;
		color: white;
		&:hover{
			background-color: rgb(225, 125, 37);
			transition: .3s;
		}
	}
	&__map {
		width: 100%;
		height: 450px;
		margin: 0 auto;
		max-width: 1200px;
		margin-top: 20px;
		background-color: rgb(152, 145, 178);
	}
}

// MEDIA //

@media (min-width: 768px) {
	.nav-desktop {
		display: flex;
	}
	.nav-mobile {
		display: none;
	}
	.burger-btn {
		display: none;
	}

	#header {
		height: 350px;
		background-image: url(../img/forest_Big.jpg);

		.header {
			&__text {
				margin-left: 2em;
				font-size: 1.2em;
			}
		}
	}

	.about {
		padding: 20px;
	}
	.adventure {
		min-height: 20vh;

		&__text {
			position: absolute;
			color: white;
			font-size: 1.4em;
			padding: 1em;
			border: 1px groove white;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			font-weight: 400;
		}
	}

	.offers {
		.cards-container {
			&__tittle {
				h2 {
					font-size: 1.5em;
				}
				p {
					font-size: 1.3em;
				}
			}
			ul {
				font-size: 1em;
			}
		}
	}

	.another-offers {
		&__box {
			font-size: 1.2em;
		}
	}

	.contact {
		height: 40vh;
		background: rgba(0, 0, 0, 0.65) url(../img/forest2_big.jpg);
		&__header {
			width: 60%;
			height: 60%;
		}
		.contact-card {
			p {
				font-size: 1.2em;
			}
		}
	}
}

@media (min-width: 992px) {
	#header {
		.header {
			&__text {
				margin-left: 4em;
				font-size: 1.4em;
			}
		}
	}

	.about {
		padding: 60px;

		h2 {
			font-size: 2.1em;
			padding: 30px;
		}
		&__box {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;

			img {
				background-size: cover;
				background-position: center;
				width: 450px;
				height: 300px;
			}
		}
		&__text {
			margin-left: 5px;
			p {
				font-size: 1.3em;
			}
			p:nth-of-type(1) {
				font-size: 1.4em;
			}
		}
	}

	.adventure {
		min-height: 25vh;
		margin-top: 30px;
		background-image: url(../img/girl_Big.jpg);

		&__text {
			position: absolute;
			color: white;
			font-size: 2em;
			padding: 0.5em;
			border: 1px groove white;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			font-weight: 400;
		}
	}
	.info {
		&__container {
			justify-content: space-evenly;
			.fa-tree {
				font-size: 2.4em;
			}
		}
	}

	.details-offers {
		height: 100%;
		.details-container {
			flex-direction: row;
		}
	}


	
}

@media (min-width: 1200px) {
	#header {
		.header {
			&__text {
				margin-left: 6em;
				font-size: 1.6em;
			}
		}
	}

	.about {
		padding: 80px;
		h2 {
			font-size: 2.2em;
			padding: 30px;
		}
		&__box {
			img {
				width: 500px;
			}
		}
		&__text {
			margin-left: 10px;
			p {
				font-size: 1.4em;
			}
			p:nth-of-type(1) {
				font-size: 1.6em;
			}
		}
	}
	.adventure {
		min-height: 25vh;
		margin-top: 30px;
		background-image: url(../img/girl_Big.jpg);

		&__text {
			position: absolute;
			color: white;
			font-size: 2.2em;
			padding: 0.5em;
			border: 1px groove white;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			font-weight: 400;
		}
	}

	.info {
		&__container {
			justify-content: space-evenly;

			h4 {
				font-size: 1.2em;
			}
			a {
				font-size: 1em;
			}
		}
	}

	.offers {
		.cards-container {
			flex-direction: row;
			&__card {
				width: 370px;
			}
		}
	}

	.contact-container {
		h2 {
			font-size: 1.8em;
		}
	}
}
